body
{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #4c375629;    
}

<button type="button" style="background-color: #4CAF50; color: white; font-size: 16px;"> take quiz </button>
